<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="All Classes Test with Chrome" parallel="methods" thread-count="3">
    <parameter name="browser" value="chrome">
        <classes>
            <class name="keyPresses.KeyPressesTest"> </class>
            <class name="login.LoginTest"> </class>
            <class name="simpleTest.FailingTest"> </class>
        </classes>
    </parameter>
    </test>

    <test name="All Classes Test with Firefox" parallel="methods" thread-count="3">
    <parameter name="browser" value="firefox">
        <classes>
            <class name="keyPresses.KeyPressesTest"> </class>
            <class name="login.LoginTest"> </class>
            <class name="simpleTest.FailingTest"> </class>
        </classes>
    </parameter>
    </test>
</suite>
